.navbar-profile-pic img{
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 90px;
    margin-top: 2px;
    vertical-align: middle;
    margin: 0 auto;

}
.nav-item {
    color: rgb(239, 243, 247);
    margin-top: 20px;
    margin-left: 30px;
    /* text-align: center; */

}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg {
    margin-top: 20px;
    
}
.nav-link:hover{
    color: rgb(171, 22, 240);
}
.nav-link .active{
    color: rgb(245, 173, 40);
    border-left: 5px solid rgb(245, 173, 40) ;
    padding-left: 10px;
    text-decoration: none;
}