.home-container{
    height: 300px;
    color: white;
    margin-left: 100px;
    background-color: black;
}   
.home-content h2{
    padding: 5px;
    padding-top: 80px;
}    
.home-content h1{
    color: rgb(247, 112, 72);
    padding: 5px;
}   
.home-buttons{
    /* margin-left: 100px; */
    margin-top: 20px;
}                     
.home-buttons .btn-hire{
    background-color: rgba(0, 0, 255, 0.753);
    color: white;
    width: 160px;
}    
.home-buttons .btn-hire:hover{
    background-color: #fff;
    color: blue;
    width: 200px;
    transition: 1s;
}   
.home-buttons .btn-cv{
    background-color: #f0790af5;
    color: white;
    margin-left: 15px;
}
.home-buttons .btn-cv:hover{
    opacity: 40%;
    transition: 1s;
}
.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(105, 26, 26);
    margin-top: 25px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 20;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

/* ################################### */
@media (max-width:600px){
    .home-container{
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .home-container h2{
        font-size: 24px;
    }
    .home-conmtainer h1{
        font-size: 24px;
    }
}