.work{
    background-color: #e6e1e19c;
    margin-left: 120px;
    padding: 30px 0px;

}

.work-exp{
    padding: 60px 0px;
}
.work-exp h2{
    font-weight: bold;
    color: rgb(66, 2, 2);
}
.work-exp hr{
    color: blueviolet;
    width: 400px;
    margin: 10px auto;
}
.work-exp .vertical-timeline-element-title{
    color: rgb(142, 170, 14);
}
.work-exp .vertical-timeline-element-subtitle{
    color: rgba(94, 67, 67, 0.685);
}

/* $$$$$$$$$$$$$$$$$%%%%%%%%%%^^^^&&*((((((((((()*^$#@@!@!@!!@$# */
@media (max-width: 600px){
    .work{
        margin: 0;
        padding: 0;
        margin-top: 50px;

    }
    .work hr{
        width: 280px;
    }
}